<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.zalbazo.mapper.hospital.FavoriteMapper">

	<insert id="insertFavorite" parameterType="kr.zalbazo.model.hospital.Hospital">
		insert into zalbazo.favorite_hospital 
			   (user_email, hospital_id, f_hospital_id)
		values (#{userEmail}, #{hospitalId}, f_hospital_seq.NEXTVAL)
	</insert>

	<delete id="removeFavorite">
        delete from FAVORITE_HOSPITAL
		where f_hospital_id = #{fhospitalId}
	</delete>

	<select id="getFavoriteList" resultType="kr.zalbazo.model.hospital.Hospital">
		select *
		from favorite_hospital a, hospital b
		where a.hospital_id = b.hospital_id
		and user_email = #{userEmail}
	</select>
	
	<delete id="toEmptyHeart">
	    delete from favorite_hospital
        where hospital_id = #{param1}
        and user_email = #{param2}
	</delete>

	
</mapper>