<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.zalbazo.mapper.hospital.HospitalMapper">

	<select id="get" resultType="kr.zalbazo.model.hospital.Hospital">
		select * from hospital
		where hospital_id = #{hospitalId}
	</select>
	

	<select id="getList" resultType="kr.zalbazo.model.hospital.Hospital">
		select * from hospital
		ORDER BY hospital_id desc
	</select>


	<select id="labelList" resultType="kr.zalbazo.model.hospital.Label">
		select * from HOSPITAL_LABEL where HOSPITAL_ID = #{hospitalId} 
	</select>
	

	<select id="pictureList" resultType="kr.zalbazo.model.pic.AttachFileDTO">
		select a.uuid, upload_path, file_name
		from pic_lib a, pic_lib_rel_hospital b
		where a.uuid = b.uuid
		and hospital_id = #{hospitalId}
	</select>
	
	<select id="picCount" resultType="int">
        select count(*) from pic_lib_rel_hospital
		where hospital_id = #{hospitalId}
    </select>
    
    <select id="picOne" resultType="kr.zalbazo.model.pic.AttachFileDTO">
  		select * 
		from pic_lib a, (select hospital_id, min(uuid) as uuid
                		 from pic_lib_rel_hospital
                		 group by hospital_id) b
		where a.uuid = b.uuid
		and hospital_id = #{hospitalId}
    </select>

	
</mapper>