<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.zalbazo.mapper.hospital.HospitalMapper">

	<select id="read" resultType="kr.zalbazo.model.hospital.Hospital">
		select * from hospital
		where hospital_id = #{hospitalId}
	</select>
	
	<select id="labelList" resultType="kr.zalbazo.model.hospital.HospitalLabel">
		select * from hospital_label
		where hospital_id = #{hospitalId}
	</select>

	<!--  -->
	<select id="getList"
		resultType="kr.zalbazo.model.hospital.Hospital">
		<![CDATA[
			select HOSPITAL_ID, NAME, TREAT_START, TREAT_END, ADDRESS, TEL, INFO 
            from HOSPITAL
    ]]>
	</select>

	<select id="getLabelList" resultType="kr.zalbazo.model.content.Label"> 
		select * from HOSPITAL_LABEL where HOSPITAL_ID = #{hospitalId} 
	</select>
	<!--  -->
	
	<select id="pictureList" resultType="kr.zalbazo.model.pic.PicLib" >
		select a.pic_lib_id, upload_path, file_name 
		from pic_lib a, pic_lib_rel_hospital b
		where a.pic_lib_id = b.pic_lib_id 
			and hospital_id = #{hospitalId}
	</select> 
	
	
	<select id="hPictureCount" resultType="int">
        select count(*) from pic_lib_rel_hospital
		where hospital_id = #{hospitalId}
    </select>
    
    
    <insert id="hContentInsert" parameterType="kr.zalbazo.model.content.Content">
    	INSERT into content(CONTENT_ID, BODY, CREATED_DATE, UPDATED_DATE, CATEGORY_ID, USER_EMAIL)
		values (CONTENT_SEQ.nextval, #{body}, sysdate, sysdate, 4, #{userEmail})
    </insert>
    
    <insert id="hQnaInsert" parameterType="kr.zalbazo.model.hospital.HospitalQna">
        insert into hospital_qna(hospital_qna_id, hospital_id, content_id)
		values (HOSPITAL_QNA_SEQ.nextval, #{hospitalId}, CONTENT_SEQ.currval)
	</insert>
	
	
	<select id="hospitalQnaList" resultType="kr.zalbazo.model.content.Content">
		select a.content_id, body, created_date, updated_date, user_email 
		from content a, hospital_qna b
		where a.content_id = b.content_id
		and hospital_id = #{hospitalId} 
	</select>

</mapper>

