<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.zalbazo.mapper.hospital.HospitalQnaMapper">

	<select id="getQnaList" resultType="kr.zalbazo.model.hospital.HospitalQnaVO">
       select a.content_id, body, created_date, user_email, hospital_qna_id, b.hospital_id, qna_type, c_group, name 
	   from content a, hospital_qna b, hospital c
	   where a.content_id = b.content_id
       and b.hospital_id = c.hospital_id
	   and b.hospital_id = #{hospitalId}
	   order by c_group desc, hospital_qna_id asc
	</select>
	
	<insert id="insertQuestion">
	  insert all
	  into content (CONTENT_ID, BODY, CREATED_DATE, CATEGORY_ID, USER_EMAIL)
	  values (CONTENT_SEQ.nextval, #{body}, sysdate, 4, #{userEmail})
	  into hospital_qna (HOSPITAL_QNA_ID, HOSPITAL_ID, CONTENT_ID, QNA_TYPE, C_GROUP)
	  values (HOSPITAL_QNA_SEQ.nextval, #{hospitalId}, CONTENT_SEQ.currval, 'Q', CONTENT_SEQ.currval)
	  select * from dual
	</insert>
	
	<insert id="insertAnswer">
	  insert all
	  into content (CONTENT_ID, BODY, CREATED_DATE, CATEGORY_ID, USER_EMAIL)
	  values (CONTENT_SEQ.nextval, #{body}, sysdate, 4, #{userEmail})
	  into hospital_qna (HOSPITAL_QNA_ID, HOSPITAL_ID, CONTENT_ID, QNA_TYPE, C_GROUP)
	  values (HOSPITAL_QNA_SEQ.nextval, #{hospitalId}, CONTENT_SEQ.currval, 'A', #{cGroup})
	  select * from dual
	</insert>
	

	<delete id="deleteContent">
	  delete from content where content_id = #{contentId}
	</delete>

	
	<select id="getANo" resultType="kr.zalbazo.model.hospital.HospitalQnaVO">
		select a.content_id
		from content a, hospital_qna b
		where a.content_id = b.content_id
		and qna_type = 'A' and c_group = #{contentId}
	</select>

</mapper>