<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.zalbazo.mapper.hospital.HospitalQnaMapper">

	<insert id="insertContent">
	
	  <selectKey keyProperty="contentId" order="BEFORE" resultType="long">
	    select CONTENT_SEQ.nextval from dual 
	  </selectKey>
	  
	  insert into content (CONTENT_ID, BODY, CREATED_DATE, CATEGORY_ID, USER_EMAIL)
	  values (#{contentId}, #{body}, sysdate, 4, #{userEmail})
	</insert>
	
	<insert id="insertQna">
	
	  <selectKey keyProperty="contentId" order="BEFORE" resultType="long">
	    select CONTENT_SEQ.currval from dual 
	  </selectKey>
      insert into hospital_qna (HOSPITAL_QNA_ID, HOSPITAL_ID, CONTENT_ID)
	  values (HOSPITAL_QNA_SEQ.nextval, #{hospitalId}, #{contentId})
	</insert>
	
	<delete id="deleteQna">
	  delete from hospital_qna where content_id = #{contentId}
	</delete>
	
	<delete id="deleteContent">
	  delete from content where content_id = #{contentId}
	</delete>
	
	<select id="getList" resultType="kr.zalbazo.model.content.Content">
	  select a.content_id, body, created_date, user_email from content a, hospital_qna b
	  where a.content_id = b.content_id
	  and hospital_id = #{hospitalId}
	</select>

</mapper>