<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.zalbazo.mapper.user.mypage.AnimalMapper">

	<insert id="insert"
		parameterType="kr.zalbazo.model.animal.Animal">
		INSERT into animal(ANIMAL_ID, TYPE, SEX, WEIGHT, AGE,
		ANAME, NOTE, LAST_TREAT_DATE, CREATED_DATE, UPDATED_DATE, USER_EMAIL)
		values (ANIMAL_SEQ.nextval, #{type}, #{sex}, #{weight}, #{age}, #{aname}, #{note}, sysdate, sysdate, sysdate, #{userEmail})
	</insert>

	<update id="update">
        update ANIMAL
        set TYPE= #{type}, SEX = #{sex}, WEIGHT = #{weight}, AGE = #{age}, ANAME=#{aname}, NOTE= #{note} ,UPDATED_DATE= sysdate
        where ANIMAL_ID = #{animalId}
	</update>

	<delete id="delete">
		delete from ANIMAL
		where ANIMAL_ID = #{animalId} 
	</delete>

	<select id="read" resultType="kr.zalbazo.model.animal.Animal">
		select *
		from ANIMAL
		where ANIMAL_ID = #{animalId}
	</select>

	<select id="getList"
		resultType="kr.zalbazo.model.animal.Animal">
		select * from animal where user_email =
		#{userEmail}
         order by 1 desc
   </select>


	
	


</mapper>