<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper
	namespace="kr.zalbazo.mapper.user.mypage.FavoriteHospitalMapper">

	<!-- <insert id="insert" parameterType="kr.zalbazo.model.animal.Animal"> 
		INSERT into animal(ANIMAL_ID, TYPE, SEX, WEIGHT, AGE, NAME,NOTE,LAST_TREAT_DATE,CREATED_DATE,UPDATED_DATE,USER_EMAIL) 
		values (ANIMAL_SEQ.nextval, #{type}, #{sex},#{weight},#{age},#{name},#{note},'',sysdate,sysdate,#{userEmail}) 
		</insert> -->

	<!-- <delete id="delete"> delete from FAVORITE_HOSPITAL where HOSPTIAL_ID 
		= #{hospitalId} </delete> -->

	<select id="getList"
		resultType="kr.zalbazo.model.hospital.Hospital">
		select favorite_hospital.hospital_id, name, address,
		treat_start, treat_end, tel
		from favorite_hospital, hospital
		where
		favorite_hospital.hospital_id = hospital.hospital_id
		and user_email = #{userEmail}
	</select>






</mapper>