<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.zalbazo.mapper.user.mypage.MypostsMapper">

<select id="getJisikdongList" resultType="kr.zalbazo.model.content.Content">

	<![CDATA[
        select CONTENT_ID,
               TITLE,
               BODY,
               CREATED_DATE
        from CONTENT
        where CONTENT_ID > 0
          AND CATEGORY_ID = #{categoryId}
          AND USER_EMAIL = #{useremail}
        ]]>

</select>

	






</mapper>