<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.zalbazo.mapper.search.SearchMapper">

	<!-- 01_01. 게시글 전체목록 조회 및 검색 조회까지 -->
<select id="listAll"  resultType="kr.zalbazo.model.hospital.Hospital">
    SELECT hospital.hospital_id,hospital.name,hospital.treat_start,hospital.treat_end,hospital.address,hospital.tel

     
    FROM hospital    
    
    <!-- 라벨별검색을 할경우 -->
    
    <if test="length &gt; 0">
    join hospital_label 
	on hospital.hospital_id = hospital_label.hospital_id
	where hospital_label.label_code in 
	<foreach collection="label" item="item" index="index" separator="," open="(" close=")">
    #{item}
</foreach>
	and
	<include refid="search"></include>
	group by hospital.hospital_id,hospital.name,hospital.treat_start,hospital.treat_end,hospital.address,hospital.tel
    </if>
    <if test="length &lt; 1">
    where
    <include refid="search"></include>
    </if>
  
    <!-- WHERE절을 include 태그로 삽입 -->
   
    ORDER BY hospital.hospital_id desc
</select>

<select id="list" resultType="kr.zalbazo.model.hospital.Hospital">
    SELECT *
    FROM hospital
    ORDER BY hospital_id desc
</select>
 

<!-- 옵션별 키워드 검색 -->
<sql id="search">
    <choose>
        <!-- 검색옵션이 전체 검색일 경우 -->
        <when test="searchOption == 'all'">
            (name like '%'||#{keyword}||'%'
            OR address like '%'||#{keyword}||'%'
            OR info like '%'||#{keyword}||'%')
        </when>
        <!-- 전체 검색이 아닐 경우 -->
        <otherwise>
             (${searchOption} like '%'||#{keyword}||'%')
        </otherwise>
    </choose>
</sql>

</mapper>