<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.zalbazo.mapper.search.SearchMapper">

	<!-- 01_01. 게시글 전체목록 조회 및 검색 조회까지 -->
<select id="listAll"  resultType="kr.zalbazo.model.hospital.Hospital">
    SELECT *
    FROM hospital
    <!-- WHERE절을 include 태그로 삽입 -->
    <include refid="search"></include>
    ORDER BY hospital_id desc
</select>

<select id="list" resultType="kr.zalbazo.model.hospital.Hospital">
    SELECT *
    FROM hospital
    ORDER BY hospital_id desc
</select>
 
<!-- 01_02. 게시글 레코드 갯수 -->
<select id="countArticle" resultType="int">
    SELECT COUNT(*) FROM hopital
    <!-- WHERE절을 include 태그로 삽입 -->
    <include refid="search"></include>
</select>
 
<!-- sql code 조각 -->
<!-- 반복되는 sql의 일부를 sql태그를 이용하여 따로 빼둘수 있다. -->
<sql id="search">
    <choose>
        <!-- 검색옵션이 전체 검색일 경우 -->
        <when test="searchOption == 'all'">
            WHERE name like '%'||#{keyword}||'%'
            OR address like '%'||#{keyword}||'%'
            OR info like '%'||#{keyword}||'%'
        </when>
        <!-- 전체 검색이 아닐 경우 -->
        <otherwise>
            WHERE ${searchOption} like '%'||#{keyword}||'%'
        </otherwise>
    </choose>
</sql>

</mapper>