<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.zalbazo.mapper.user.HospitalJoinMapper">

    <insert id="infoInsert" parameterType="kr.zalbazo.model.hospital.Hospital">
        <selectKey keyProperty="hospitalId" resultType="Long" order="BEFORE">
            select hospital_seq.nextval from dual
        </selectKey>
        INSERT into hospital (hospital_id, name, address, treat_start, treat_end, tel, info)
        values (#{hospitalId}, #{name}, #{address}, #{treatStart}, #{treatEnd}, #{tel}, #{info})
    </insert>


    <insert id="labelInsert" parameterType="kr.zalbazo.model.hospital.Label">
        Insert into HOSPITAL_LABEL (LABEL_CODE, HOSPITAL_ID)
        values (#{labelCode}, #{hospitalId})
    </insert>

    <insert id="picInsert">
        INSERT ALL
            INTO PIC_LIB (UUID, UPLOAD_PATH, FILE_NAME)
        VALUES (#{uuid}, #{uploadPath}, #{fileName})
        INTO PIC_LIB_REL_HOSPITAL (UUID, HOSPITAL_ID)
        VALUES (#{uuid}, #{hospitalId})
        SELECT *
        FROM DUAL
    </insert>
    
    <select id="get" resultType="kr.zalbazo.model.hospital.Hospital">
       select * 
	   from hospital a, zalbazo_user b
	   where a.hospital_id = b.hospital_id
	   and user_email = #{userEmail}
    </select>
    
    <select id="getLabel" resultType="kr.zalbazo.model.hospital.Label">
       select label_code, c.name
	   from hospital_label a, zalbazo_user b, label c
	   where a.hospital_id = b.hospital_id
	   and label_code = code
	   and user_email = #{userEmail}
    </select>
    
    <select id="getPic" resultType="kr.zalbazo.model.pic.AttachFileDTO">
       select a.uuid, upload_path, file_name, c.hospital_id
	   from pic_lib a, pic_lib_rel_hospital b, zalbazo_user c
	   where a.uuid = b.uuid
	   and b.hospital_id = c.hospital_id
	   and user_email = #{userEmail}
    </select>
    
    <delete id="removePicFirst">
    	delete from pic_lib_rel_hospital
		where hospital_id = 
    			(select hospital_id 
     			 from zalbazo_user 
     			 where user_email = #{userEmail})
    </delete>
    
    <delete id="removePicLast">
    	delete from pic_lib a
		where not exists (
    		select * 
    		from pic_lib_rel_hospital b
    		where a.uuid = b.uuid)
    </delete>
    
    <delete id="removeLabel">
    	delete hospital_label 
		where hospital_id = (select hospital_id
                     		from zalbazo_user
                     		where user_email = #{userEmail})
    </delete>
    
    <update id="update">
		update hospital 
		set name = #{name},
    		tel = #{tel},
    		address = #{address},
		    treat_start = #{treatStart},
		    treat_end = #{treatEnd},
    		info = #{info}
		where hospital_id = (select a.hospital_id
                             from zalbazo_user a, hospital b
                             where a.hospital_id = b.hospital_id
                             and user_email = #{userEmail})
    </update>


</mapper>