<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.zalbazo.mapper.user.ReserveMapper">

    <insert id="insert" parameterType="kr.zalbazo.model.user.Reserve">
        insert into RESERVE (RESERVE_ID, NOTE, RDATE, ANIMAL_ID, HOSPITAL_ID, STATUS,USER_EMAIL)
        values (RESERVE_SEQ.nextval, #{note}, #{rdate}, #{animalId}, #{hospitalId}, #{status},#{userEmail})
    </insert>

</mapper>


