<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.zalbazo.mapper.user.UserMapper">

    <insert id="insert" parameterType="kr.zalbazo.model.user.User">
        insert into ZALBAZO_USER (USER_EMAIL, PASSWORD, ROLE, TEL, ADDRESS, NAME, JOIN_DATE, LAST_LOGIN, HOSPITAL_ID)
        <if test="role=='user'">
            values (#{userEmail}, #{password}, #{role}, #{tel}, #{address}, #{name}, sysdate, null, null)
        </if>
        <if test="role=='hospital'">
            values (#{userEmail}, #{password}, #{role}, #{tel}, #{address}, #{name}, sysdate, null, ${hospitalId})
        </if>
    </insert>

    <update id="update">
        update ZALBAZO_USER
        SET PASSWORD = #{password},
            TEL      = #{tel},
            address  = #{address},
            name     = #{name}
        where USER_EMAIL = #{userEmail}
    </update>
    
    <update id="updateEnabled">
        update ZALBAZO_USER
        set ENABLED = #{enabled},
            EMAIL_AUTH_KEY = #{emailAuthKey}
        where USER_EMAIL = #{userEmail}
    </update>

    <delete id="delete">
        delete ZALBAZO_USER
        where USER_EMAIL = #{userEmail}
    </delete>

    <select id="getUser" resultType="kr.zalbazo.model.user.User">
        SELECT *
        FROM ZALBAZO_USER
        WHERE USER_EMAIL = #{email}
    </select>
    
    <select id="getWriter" resultType="kr.zalbazo.model.content.Content">
    	select *
		from content
		where content_id = #{contentId}
    </select>

    <select id="getList" resultType="kr.zalbazo.model.user.User">
        <![CDATA[
        SELECT *
        FROM ZALBAZO_USER
        ]]>
    </select>
    
</mapper>