<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.zalbazo.mapper.content.ContentAttachMapper">

	<insert id="insert">
	  INSERT ALL
	  INTO PIC_LIB (UUID, UPLOAD_PATH, FILE_NAME)
      VALUES (#{uuid}, #{uploadPath}, #{fileName})
      INTO PIC_LIB_REL_CONTENT (UUID, CONTENT_ID)
      VALUES (#{uuid}, #{contentId})
      SELECT * FROM DUAL
	</insert>
	
	<delete id="deletePicCon">
	  delete from pic_lib_rel_content where content_id = #{contentId}
	</delete>
	
	<delete id="deletePic">
	  delete from pic_lib where uuid = #{uuid}
	</delete>
	
	<select id="findByNo" resultType="kr.zalbazo.model.pic.AttachFileDTO">
	  select * from pic_lib a, pic_lib_rel_content b
      where a.uuid = b.uuid
      and content_id = #{contentId}
	</select>
	
	<select id="getOldFiles" resultType="kr.zalbazo.model.pic.AttachFileDTO">
	   select * from pic_lib
	   where upload_path = to_char(sysdate-1, 'yyyy\mm\dd')
	</select>
	
</mapper>