<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.zalbazo.mapper.content.FaqMapper">

    <select id="getFaqList" resultType="kr.zalbazo.model.content.FaqVO">
	
	<![CDATA[
	
     SELECT *
     FROM faq
     WHERE                     
       QUESTION like '%'||#{keyword}||'%' 
   
    ]]>
    
    </select>
    
    <select id="getFaqListAll" resultType="kr.zalbazo.model.content.FaqVO">
    	
    	SELECT *  
    	FROM faq
    	
     </select>
    
    </mapper>

