<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.zalbazo.mapper.content.HospitalMapper">

	<select id="read" resultType="kr.zalbazo.model.content.Hospital">
		select *
		from hospital
		where HOSPITAL_ID =
		#{hospitalId}
	</select>

	<select id="getList"
		resultType="kr.zalbazo.model.content.Hospital">
		<![CDATA[
			select HOSPITAL_ID, NAME, TREAT_START, TREAT_END, ADDRESS, TEL, INFO 
            from HOSPITAL

    ]]>
	</select>


	<select id="getLabelList" resultType="kr.zalbazo.model.content.Label"> 
		select * from HOSPITAL_LABEL where HOSPITAL_ID = #{hospitalId} 
	</select>



</mapper>